*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(/images/2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.header{
    width: 70%;
    margin: 0 auto;
    height: 8vh;
    display:flex;
    align-items: center;
    justify-content:space-between;

}
.header h1{
    color: white;
    font-family: 'My Soul', cursive;
    font-size: 30px;
    text-transform: capitalize;
}

.header ul{
    width: 45%;
    height: 8vh;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font: 15px 'Roboto', sans-serif; 
}

.header ul li a:hover{
    text-decoration: underline;
    color: red;
    
}
.home-main{
    width: 70%;
    margin: 0 auto;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home-main h2{
    color: white;
    text-transform: uppercase;
    font: 15px 'arial', 'sans-serif';
    font-weight: 600;

}
.home-main h1{
    color: white;
    text-transform: uppercase;
    font: 30px 'arial';
    font-weight: 800;
}

.home-main p{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: white;
    font: 14px 'arial';
}
.button1{
    margin-top: 15px;
    margin-right: 10px;
    padding: 15px 20px;

    border: none;
    color: white;
    text-transform: uppercase;
    font: 10px 'arial';
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(101, 218, 101);
    cursor: pointer;
}

.button1:hover{
    margin-top: 15px;
    margin-right: 10px;
    padding: 15px 20px;

    border: none;
    color: black;
    text-transform: uppercase;
    font: 10px 'arial';
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
}
.wedo{
    width: 100%;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 215, 215);
}

.h1-main{
    
    margin-bottom: 60px;
    text-transform: uppercase;
    font: 18px 'arial';
    font-weight: 900;
    position: relative;
}
.h1-main::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: black;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: hrwidth 600ms linear infinite;
}

@keyframes hrwidth{
    0%{
        width: 90px;
    }

    50%{
        width: 60px;
    }

    100%{
        width: 90px;
    }
}

.blocks{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.block{
    width: 22%;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.2), 10px 6px 20px 10px rgba(0, 0, 0, 0.19);
    padding: 20px 15px;
    text-align: center;
}

.block h1{
    font-size: 12px;
    width:100%;
    margin: 10px auto;
    text-transform: capitalize;
    font: 15px 'arial';
    font-weight: 700;
}

.block p{
    
    font: 12px 'arial';
    line-height: 1.5;

    
}

.fa-solid{
    color: green;
    font-size: 30px;
    margin: 10px;
}

.offers{
    width: 100%;
    padding: 60px 0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.offer-box{
    width:70%;
    height: 95%;
    margin: auto auto;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.offer-info{
    width: 50%;
    padding-right: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.offer-info h1{
    margin-bottom: 20px;
    font-size: 25px;

}
.offer-info p{
    padding-bottom: 10px;

}

.buttons{
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
}

.offer-img{
    width: 50%;
    height: 300px;
    position: relative;
    
}
.img1{
    content: "";
    position: absolute;
    width: 250px;
    height: 150px;
    left: 30%; 
}
.img2{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 250px;
    height: 150px;

}
.img3{
    content: "";
    position: absolute;
    top: 25%;
    left: 20px;
    width: 250px;
    height: 150px;
}


.gallery{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;
   
}
.tabs{
    width: 40%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform:capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.tabs label:hover{
    color:rgb(65, 236, 65);
    text-decoration: underline;
    
}
.grid{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;   
}

.img-gal{
    
    position: relative;
    
}

.wedo input[type='radio']{
    opacity: 0;
    display: none;
}
.image{
    width: 100%;
    height: 100%;
}

.img-gal::before{
    content: "@danebaev.d";
    position: absolute;
    color: #fff;
    font: 30px 'times';
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index:  1;
    transition: 0.5s;
    opacity: 0;
    
}

.img-gal::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.img-gal:hover::after{
    height: 100%;

}

.img-gal:hover::before{
    top: 40%;
    opacity: 1;

}

#r1:checked ~ .gallery .grid .img-gal{
    opacity: 1;
    position: relative;
    

}

#r1:checked ~ .gallery .tabs .r1{
    color: rgb(65, 236, 65);
    text-decoration: underline;
    
}

#r2:checked ~ .gallery .grid .nature{
    opacity: 1;
    position: relative;
    
}
#r2:checked ~ .gallery .tabs .r2{
    color: rgb(65, 236, 65);
    text-decoration: underline;
    
}
#r2:checked ~ .gallery .grid .work,
#r2:checked ~ .gallery .grid .city,
#r2:checked ~ .gallery .grid .texnology{
    opacity: 0;
    position: absolute;
    
}


#r3:checked ~ .gallery .grid .work{
    opacity: 1;
    position: relative;
    
}
#r3:checked ~ .gallery .tabs .r3{
    color: rgb(65, 236, 65);
    text-decoration: underline;
    
}
#r3:checked ~ .gallery .grid .nature,
#r3:checked ~ .gallery .grid .city,
#r3:checked ~ .gallery .grid .texnology{
    opacity: 0;
    position: absolute;
    
}
#r4:checked ~ .gallery .grid .city{
    opacity: 1;
    position: relative;
}
#r4:checked ~ .gallery .tabs .r4{
    color: rgb(65, 236, 65);
    text-decoration: underline;
    
}
#r4:checked ~ .gallery .grid .work,
#r4:checked ~ .gallery .grid .nature,
#r4:checked ~ .gallery .grid .texnology{
    opacity: 0;
    position: absolute;
}

#r5:checked ~ .gallery .grid .texnology{
    opacity: 1;
    position: relative;
    
}
#r5:checked ~ .gallery .tabs .r5{
    color: rgb(65, 236, 65);
    text-decoration: underline;
    
}
#r5:checked ~ .gallery .grid .work,
#r5:checked ~ .gallery .grid .city,
#r5:checked ~ .gallery .grid .nature{
    opacity: 0;
    position: absolute;
    
}
.blog{
    width: 100%;
    background-color: rgb(124, 188, 124);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    
}

.h1-main-white{
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
    font: 18px 'arial';
    font-weight: 900;
    position: relative;
}
.h1-main-white::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: #fff;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: hrwidth 600ms linear infinite;
}


.blog-images{
    width: 70%;
    height: 350px;
    margin: 40px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-blog{
    width: 49%;
    position: relative;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.block-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 20px 20px;
    background: rgba(0,0,0,0.6);
    
}
.block-bottom h1{
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.block-bottom p{
    color: white;
    font-size: 10px;
    font-weight: 50;
}


.block-bottom:hover{
    height: 100%;
    transition: 0.7s;
}
.image:hover~.block-bottom{
    height: 100%;
 
    transition: 0.7s;
}

.block-column{
    width: 100%;
    height: 48%;
    position: relative;
}

.statistic{
    background-color: rgb(204, 201, 201);
    border: none;
    box-shadow: none;
}

.statistic h1{
    color: gray;
    text-transform: uppercase;
}
.statistic h4{
    color: rgb(102, 153, 102);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact{
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(/images/city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forma{
    width: 49%;
    height: 100%;
    color: white;
    
}

.email1{
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email1 input{
    width: 46%;
    padding: 18px 10px;
    background-color: rgba(250, 250, 250, 0.1);
    border:none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
}

.text textarea{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
}
.footer{
    background-color: black;
    width: 100%;
    height: 120px;
    color: white;
}
.main-footer{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 13px Arial, Helvetica, sans-serif;
}

.icons-footer{
    display: flex;

}
.icons-footer i{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(124, 188, 124);
    font-size: 18px;
    color: black;
}